@import '../../klijenti/novi-klijent/novi-klijent.component.css';

.racunHeader{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 5px auto;
}

.racunHeader mat-card{
    width: 29%;
    margin: 5px;
}
.racunHeader mat-card mat-card-content{
    display: flex;
    flex-direction: column;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background: #424242;
    margin-top: 10px;
    box-shadow:  0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: center !important;
    padding: 8px;
  
  }
  
  .racunKonacni{
width: 100%;
display: flex;
justify-content: flex-end;
  }
  .mat-list-base .mat-list-item{
    font-size: 14px !important;
    border-bottom: 1px solid white;
  }
  mat-divider{
    margin:10px 0;
  }
  .kontrole{
    display: flex;
    justify-content: center;
  }
  .kontrole button{
    margin: 2px;
  }
  #pdf{
    width: 1004px;
    height: 1400px;
    background-color: white;
    padding: 20px;
    margin: 0;
  }
  .kompanijaInfo,.klijentInfo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .kompanijaInfo .info,.klijentInfo .info{
    color: black;
  }
  .kompanijaInfo .info ul li,.klijentInfo .info ul li{
    list-style: none;
  }
  h2:first-of-type{
    color: white;
  }
  h2{
    color:black;
    margin-bottom: 1px;
  }
  #pdf .proizvod table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #pdf .proizvod td, th {
    border:none;
    border-bottom: 1px solid black;
    text-align: left;
    padding: 8px;
    background: white;
    color: black;
  }
  .cenaKonacna{
display: flex;
justify-content: flex-end;

  }
  .cenaKonacna .info{
    color: black;

  }
  .cenaKonacna .info ul li{
    list-style: none;
    border-bottom: 1px solid black;
    line-height: 35px;
  }