button{
  margin: 2px;
}
  #pdf{
    width: 1004px;
    height: 2000px;
    background-color: white;
    padding: 20px;
    margin: 0;
    font-weight: 700 !important;
    position: absolute;
    left: 0;
    transform: translateX(-1300px);
  }
  .kompanijaInfo,.klijentInfo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .kompanijaInfo .info,.klijentInfo .info{
    color: black;
  }
  .kompanijaInfo .info ul li,.klijentInfo .info ul li{
    list-style: none;
  }
  h2:first-of-type{
    color: white;
  }
  h2{
    color:black;
    margin-bottom: 1px;
  }
  #pdf .proizvod table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #pdf .proizvod td, th {
    border:none;
    border-bottom: 1px solid black;
    text-align: left;
    padding: 8px;
    background: white;
    color: black;
  }
  .cenaKonacna{
display: flex;
justify-content: flex-end;

  }
  .cenaKonacna .info{
    color: black;

  }
  .cenaKonacna .info ul li{
    list-style: none;
    border-bottom: 1px solid black;
    line-height: 35px;
  }

  canvas#viewport { border: 1px solid white; width: 250px; height: 250px;}
