<h2>Racuni</h2>
<daterange (naKlik)="onDateChange($event)"></daterange>
<header-stat [ukupniTrosak]="ukupniTrosak" [nenaplaceno]="nenaplaceno" [ukupniPrihod]="ukupniPrihod"></header-stat>
<div class="headerBtn">
    <button routerLink="nov-racun" class="main-btn" mat-raised-button color="accent">
        <span class="material-icons">
            post_add
        </span> Novi racun
    </button>
</div>
<mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ime Firme" #input>
</mat-form-field>
<mat-spinner *ngIf="isLoading"></mat-spinner>

<div *ngIf="!isLoading">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

        <ng-container matColumnDef="brojracuna">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Broj racuna </th>
            <td mat-cell *matCellDef="let element;"> {{element.brojracuna + '-' + element.godina}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="ime">
            <th mat-header-cell *matHeaderCellDef> Ime klijenta </th>
            <td mat-cell *matCellDef="let element"> {{element.ime}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="datumI">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Datum izdavanja </th>
            <td mat-cell *matCellDef="let element"> {{element.datumIzdavanja | date:'dd.MM.YYYY'}}
            </td>
        </ng-container>

        <ng-container matColumnDef="datumV">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Datum vazenja </th>
            <td mat-cell *matCellDef="let element"> {{element.datumVazenja | date:'dd.MM.YYYY'}} </td>
        </ng-container>

        <ng-container matColumnDef="iznos">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="iznos"> Iznos </th>
            <td mat-cell *matCellDef="let element"> {{element.ukupno}},00 RSD </td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
            <td mat-cell *matCellDef="let element"> <button color="accent"
                    mat-button>{{element.status.toUpperCase().substring(0, 1)}}</button>
            </td>fg
        </ng-container>
        <ng-container matColumnDef="placeno">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Placeno </th>
            <td mat-cell *matCellDef="let element">
                <button *ngIf="!element.placeno" color="warn" (click)="placenoToggle(element)" mat-button>
                    NE</button>
                <button *ngIf="element.placeno" color="accent" (click)="placenoToggle(element)" mat-button>
                    DA</button>
            </td>
        </ng-container>
        <ng-container matColumnDef="detalji">
            <th mat-header-cell *matHeaderCellDef> Detalji </th>
            <td mat-cell *matCellDef="let element"> <a [routerLink]="[element.id]">Detalji</a> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <pdf-table *ngIf="dataSource" [klijenti]="dataSource.data" [ukupniTrosak]="ukupniTrosak" [nenaplaceno]="nenaplaceno"
        [ukupniPrihod]="ukupniPrihod" [pickDatumOd]="pickDatumOd" [pickDatumDo]="pickDatumDo">
    </pdf-table>
</div>