.headerStat{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.headerStat .statCard{
    flex: 1;
    margin: 5px;
   
}
.headerStat .mat-card-title{
    font-size: 1rem;
}