<h2>Domeni</h2>
<daterange (naKlik)="onDateChange($event)"></daterange>
<div class="headerStat">
    <mat-card class="statCard">
        <mat-card-title>Prihod</mat-card-title>
        <mat-card-subtitle>{{prihod}}.00 RSD</mat-card-subtitle>
    </mat-card>
    <mat-card class="statCard">
        <mat-card-title> Troskovi</mat-card-title>
        <mat-card-subtitle>{{trosak}}.00 RSD</mat-card-subtitle>
    </mat-card>
    <mat-card class="statCard">
        <mat-card-title>Ukupno</mat-card-title>
        <mat-card-subtitle>{{ukupno}}.00 RSD</mat-card-subtitle>
    </mat-card>
</div>
<div class="headerBtn">
    <button routerLink="novi-domen" class="main-btn" mat-raised-button color="accent">
        <span class="material-icons">
            language
        </span> Novi domen
    </button>
</div>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!-- Name Column -->
    <ng-container matColumnDef="ime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Domen </th>
        <td mat-cell *matCellDef="let element"> {{element.ime}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="klijent">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Klijent </th>
        <td mat-cell *matCellDef="let element"> {{element.klijent}} </td>
    </ng-container>
    <ng-container matColumnDef="datumD">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Datum dodele </th>
        <td mat-cell *matCellDef="let element"> {{element.datumDodele | date:'dd.MM.YYYY'}} </td>
    </ng-container>
    <ng-container matColumnDef="cena">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cena </th>
        <td mat-cell *matCellDef="let element"> {{element.cena + ',00 RSD'}} </td>
    </ng-container>
    <!-- Weight Column -->
    <ng-container matColumnDef="troskovi">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Trosak </th>
        <td mat-cell *matCellDef="let element"> {{element.troskovi + ',00 RSD'}} </td>
    </ng-container>
    <!-- Weight Column -->
    <!-- Weight Column -->
    <ng-container matColumnDef="detalji">
        <th mat-header-cell *matHeaderCellDef> Detalji </th>
        <td mat-cell *matCellDef="let element"> <a [routerLink]="[element.id]">Detalji</a> </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>