@import '../klijenti/profil/profil.component.css';

label.btn{
    cursor: pointer !important;
    border: 1px solid white;
    padding: 5px;
    border-radius: 6px;
}
.imageContainer{
    display: flex;
    flex-direction: column;
}
.imageContainer img{
    width: 70%;
    margin:10px auto;
    height: 200px;

}