<h2>Klijenti</h2>
<div class="headerBtn">
    <button routerLink="novi-klijent" class="main-btn" mat-raised-button color="accent">
        <span class="material-icons">
            person_add
        </span> Novi klijent
    </button>
</div>
<mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Name Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Redni broj </th>
        <td mat-cell *matCellDef="let element; let i = index"> {{i+1}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [length]="totalPosts" [pageSize]="postsPerPage" [pageSizeOptions]="pageSizeOptions"
    (page)="onChangedPage($event)" *ngIf="dataSource.data.length > 0 "></mat-paginator>