<h2>Kontrolna tabla</h2>
<div class="headerStat">
    <mat-card class="statCard">
        <mat-card-title>Ukupni prihod</mat-card-title>
        <mat-card-subtitle>{{ukupniPrihod}}.00 RSD</mat-card-subtitle>
    </mat-card>
    <mat-card class="statCard">
        <mat-card-title>Ukupni troskovi</mat-card-title>
        <mat-card-subtitle>{{ukupniTrosak}}.00 RSD</mat-card-subtitle>
    </mat-card>
    <mat-card class="statCard">
        <mat-card-title>Nenaplaceno</mat-card-title>
        <mat-card-subtitle>{{nenaplaceno}}.00 RSD</mat-card-subtitle>
    </mat-card>
</div>