<h2>Ponavljajuci racuni</h2>
<daterange (naKlik)="onDateChange($event)"></daterange>

<div class="headerBtn">
    <button routerLink="novi-ponavljajuci-racun" class="main-btn" mat-raised-button color="accent">
        <span class="material-icons">
            post_add
        </span> Novi ponavljajuci racun
    </button>
</div>
<mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ime Firme" #input>
</mat-form-field>
<table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Name Column -->
    <ng-container matColumnDef="ime">
        <th mat-header-cell *matHeaderCellDef> Ime klijenta </th>
        <td mat-cell *matCellDef="let element"> {{element.ime}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="datumI">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Početni datum </th>
        <td mat-cell *matCellDef="let element"> {{element.pocetniDatum | date:'dd.MM.YYYY'}}
        </td>
    </ng-container>

    <ng-container matColumnDef="datumV">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Završni datum </th>
        <td mat-cell *matCellDef="let element"> {{element.zavrsniDatum | date:'dd.MM.YYYY'}} </td>
    </ng-container>

    <ng-container matColumnDef="iznos">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Iznos </th>
        <td mat-cell *matCellDef="let element"> {{element.ukupno + ',00 RSD'}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
        <td mat-cell *matCellDef="let element"> <button color="accent"
                mat-button>{{element.status.toUpperCase()}}</button>
        </td>
    </ng-container>

    <ng-container matColumnDef="detalji">
        <th mat-header-cell *matHeaderCellDef> Detalji </th>
        <td mat-cell *matCellDef="let element"> <a [routerLink]="[element.id]">Detalji</a> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>