<h2>Profil Klijenta</h2>

<form #f="ngForm" (ngSubmit)="updateKlijenta(f)" *ngIf="klijent">

    <mat-card class="klijent-card">
        <mat-card-header>
            <mat-card-title>Detalji</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field>
                <mat-label>Ime Firme</mat-label>
                <input matInput type="text" name="firma" [(ngModel)]="klijent.firma">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Ime</mat-label>
                <input matInput type="text" name="ime" [(ngModel)]="klijent.ime">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Prezime</mat-label>
                <input matInput type="text" name="prezime" [(ngModel)]="klijent.prezime">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Maticni broj</mat-label>
                <input matInput type="text" name="maticni_broj" [(ngModel)]="klijent.maticni_broj">
            </mat-form-field>
            <mat-form-field>
                <mat-label>PIB</mat-label>
                <input matInput type="text" name="pib" [(ngModel)]="klijent.pib">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Web adresa</mat-label>
                <input matInput type="text" name="web_adresa" [(ngModel)]="klijent.web_adresa">
            </mat-form-field>
        </mat-card-content>

    </mat-card>
    <mat-card class="klijent-card">
        <mat-card-header>
            <mat-card-title>Kontakti</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field>
                <mat-label>Telefon</mat-label>
                <input matInput type="tel" name="telefon" [(ngModel)]="klijent.telefon">
            </mat-form-field>
        </mat-card-content>

    </mat-card>

    <mat-card class="klijent-card">
        <mat-card-header>
            <mat-card-title>Adresa</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field>
                <mat-label>Ulica</mat-label>
                <input matInput type="text" name="ulica" [(ngModel)]="klijent.ulica">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Sprat/Soba</mat-label>
                <input matInput type="text" name="sprat_soba" [(ngModel)]="klijent.sprat_soba">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Grad</mat-label>
                <input matInput type="text" name="grad" [(ngModel)]="klijent.grad">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Okrug</mat-label>
                <input matInput type="text" name="okrug" [(ngModel)]="klijent.okrug">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Postanski broj</mat-label>
                <input matInput type="text" name="ptp" [(ngModel)]="klijent.ptp">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Zemlja</mat-label>
                <input matInput type="text" name="zemlja" [(ngModel)]="klijent.zemlja">
            </mat-form-field>
        </mat-card-content>

    </mat-card>
    <mat-card class="klijent-card">
        <mat-card-header>
            <mat-card-title>Napomena</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field>
                <mat-label>Napomena</mat-label>
                <textarea matInput [(ngModel)]="klijent.napomena" name="napomena"> </textarea>
            </mat-form-field>


        </mat-card-content>

    </mat-card>
    <div class="dugmad">

        <button type="submit" class="main-btn" mat-raised-button>
            <span class="material-icons">
                save
            </span>Sacuvaj
        </button>


    </div>
</form>
<header-stat [ukupniTrosak]="ukupniTrosak" [nenaplaceno]="nenaplaceno" [ukupniPrihod]="ukupniPrihod"></header-stat>
<h3>Fakture/Profakture</h3>
<mat-divider></mat-divider>
<mat-spinner *ngIf="isLoading"></mat-spinner>
<div *ngIf="!isLoading">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="tip">
            <th mat-header-cell *matHeaderCellDef> Tip </th>
            <td mat-cell *matCellDef="let element;"> {{element.tip}} </td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="ime">
            <th mat-header-cell *matHeaderCellDef> Ime klijenta </th>
            <td mat-cell *matCellDef="let element"> {{element.ime}} </td>
        </ng-container>



        <ng-container matColumnDef="iznos">
            <th mat-header-cell *matHeaderCellDef> Iznos </th>
            <td mat-cell *matCellDef="let element"> {{element.ukupno}},00 RSD </td>
        </ng-container>
        <ng-container matColumnDef="datumI">
            <th mat-header-cell *matHeaderCellDef> Datum izdavanja </th>
            <td mat-cell *matCellDef="let element"> {{element.datumIzdavanja | date:'dd.MM.YYYY'}}
            </td>
        </ng-container>

        <ng-container matColumnDef="datumV">
            <th mat-header-cell *matHeaderCellDef> Datum vazenja </th>
            <td mat-cell *matCellDef="let element"> {{element.datumVazenja | date:'dd.MM.YYYY'}} </td>
        </ng-container>
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element"> <button color="accent"
                    mat-button>{{element.status.toUpperCase().substring(0, 1)}}</button>
            </td>fg
        </ng-container>
        <ng-container matColumnDef="placeno">
            <th mat-header-cell *matHeaderCellDef> Placeno </th>
            <td mat-cell *matCellDef="let element">
                <button color="warn" mat-button>{{element.placeno === true?
                    'DA':'NE'}}</button>
            </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <h3>Pruzene usluge</h3>
    <mat-divider></mat-divider>
    <mat-list>
        <mat-list-item matRipple *ngFor="let p of proizvodiUnique" [matRippleColor]="color">
            <mat-icon mat-list-icon>precision_manufacturing</mat-icon>
            <div mat-line>{{p}}</div>
        </mat-list-item>
    </mat-list>
</div>